In [2]:
import pandas as pd

# Practice problem II

In [3]:
# load the Alcohol consumption by country dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/drinks.csv'
drinks = pd.read_csv(url, index_col='country')

Display the first 10 entries of the dataset

What is the number of observations (rows) in the dataset?

What is the number of columns in the dataset?

Print the name of all the columns.

print data for Albania (using loc)

print data for USA and Spain (using loc)

drop the 'continent' column

drop the row corresponding to Angola

Print out wine_servings data for France

Print out total_litres_of_pure_alcohol column three different ways