In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Problem 11: climate-related deaths

The Centre for Research on the Epidemiology of Disasters (CRED) within the University of Leuven maintains an [Emergency Events database](https://public.emdat.be/) covering over 20,000 mass disasters globally, starting from 1900.

In [2]:
# load Emergency Events data
path = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/emergency_events.csv'
data = pd.read_csv(path,index_col='Year')
data

,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,Continent,Total Deaths
Year,,,,,,,
1900,Natural,Climatological,Drought,Drought,Cabo Verde,Africa,11000.0
1900,Natural,Climatological,Drought,Drought,India,Asia,1250000.0
1904,Natural,Meteorological,Storm,Tropical cyclone,Bangladesh,Asia,NaN
1906,Natural,Hydrological,Flood,NaN,Belgium,Europe,6.0
1906,Natural,Hydrological,Flood,NaN,Belgium,Europe,NaN
...,...,...,...,...,...,...,...
2022,Natural,Hydrological,Flood,NaN,Yemen,Asia,17.0
2022,Natural,Hydrological,Flood,NaN,South Africa,Africa,3.0
2022,Natural,Hydrological,Flood,NaN,South Africa,Africa,4.0
2022,Natural,Hydrological,Flood,NaN,South Africa,Africa,NaN
2022,Natural,Hydrological,Flood,NaN,South Africa,Africa,NaN

Compute the total number of deaths by year and disaster type. 
Assign the results to a new `DataFrame` named `deaths`

In [ ]:
deaths =

In [4]:
# load world population data as a Series (set `squeeze` parameter to True)
path = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/world_population.csv'
pop = pd.read_csv(path,index_col='Year',squeeze=True)
pop

Year
1900    1.647405e+09
1901    1.658786e+09
1902    1.672564e+09
1903    1.687013e+09
1904    1.701647e+09
            ...
2018    7.631081e+09
2019    7.713458e+09
2020    7.794789e+09
2021    7.874956e+09
2022    7.953943e+09
Name: world_population, Length: 123, dtype: float64

Compute the total number of deaths by year and distaster type. 
Assign the results to a new DataFrame named `deaths`

In [26]:
# load world population data as a Series (set `squeeze` parameter to True)
pop = pd.read_csv('world_population.csv',index_col='Year',squeeze=True)
pop

Year
1900    1.647405e+09
1901    1.658786e+09
1902    1.672564e+09
1903    1.687013e+09
1904    1.701647e+09
            ...
2018    7.631081e+09
2019    7.713458e+09
2020    7.794789e+09
2021    7.874956e+09
2022    7.953943e+09
Name: world_population, Length: 123, dtype: float64

Plot the world population by year

Compute the number of deaths per 100,000 population by year and disaster type.
Assign the results to a new DataFrame called `rel_deaths`.

Hint: you want to divide each row of the `deaths` DataFrame by the corresponding population.
To do this, you need to use the `.divide()` DataFrame method with the `axis` parameter set to 0.

Calculate and plot the **decade** average annual number of deaths per 100,000 by disaster type. Use a bar plot.

Hint: group by `10*(rel_deaths.index//10)`

In [2]:
# decade average

In [1]:
# plot results