In [1]:
import pandas as pd

# Practice problem II

In [35]:
# load the Alcohol consumption by country dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/drinks.csv'
drinks = pd.read_csv(url, index_col='country')

Display the first 10 entries of the dataset

In [3]:
drinks.head(10)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa
Antigua & Barbuda,102,128,45,4.9,North America
Argentina,193,25,221,8.3,South America
Armenia,21,179,11,3.8,Europe
Australia,261,72,212,10.4,Oceania
Austria,279,75,191,9.7,Europe

What is the number of observations (rows) in the dataset?

In [4]:
len(drinks)

193

What is the number of columns in the dataset?

In [6]:
drinks.shape[1]

5

Print the name of all the columns.

In [8]:
drinks.columns

TypeError: 'Index' object is not callable

print data for Albania (using loc)

In [9]:
drinks.loc['Albania']

beer_servings                       89
spirit_servings                    132
wine_servings                       54
total_litres_of_pure_alcohol       4.9
continent                       Europe
Name: Albania, dtype: object

print data for USA and Spain (using loc)

In [23]:
drinks.loc['USA'] + drinks.loc['Spain']

beer_servings                                   533
spirit_servings                                 315
wine_servings                                   196
total_litres_of_pure_alcohol                   18.7
continent                       North AmericaEurope
dtype: object

drop the 'continent' column

In [36]:
drinks.drop('continent', axis=1)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,,,,
Afghanistan,0,0,0,0.0
Albania,89,132,54,4.9
Algeria,25,0,14,0.7
Andorra,245,138,312,12.4
Angola,217,57,45,5.9
...,...,...,...,...
Venezuela,333,100,3,7.7
Vietnam,111,2,1,2.0
Yemen,6,0,0,0.1
Zambia,32,19,4,2.5
Zimbabwe,64,18,4,4.7

drop the row corresponding to Angola

In [37]:
drinks.drop('Angola', axis=0, inplace=True)
drinks

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Antigua & Barbuda,102,128,45,4.9,North America
...,...,...,...,...,...
Venezuela,333,100,3,7.7,South America
Vietnam,111,2,1,2.0,Asia
Yemen,6,0,0,0.1,Asia
Zambia,32,19,4,2.5,Africa
Zimbabwe,64,18,4,4.7,Africa

Print out wine_servings data for France

In [40]:
drinks.loc['France', 'wine_servings']

370

Print out total_litres_of_pure_alcohol column three different ways

In [57]:
drinks.total_litres_of_pure_alcohol

country
Afghanistan           0.0
Albania               4.9
Algeria               0.7
Andorra              12.4
Antigua & Barbuda     4.9
                     ...
Venezuela             7.7
Vietnam               2.0
Yemen                 0.1
Zambia                2.5
Zimbabwe              4.7
Name: total_litres_of_pure_alcohol, Length: 192, dtype: float64

In [58]:
drinks['total_litres_of_pure_alcohol']

country
Afghanistan           0.0
Albania               4.9
Algeria               0.7
Andorra              12.4
Antigua & Barbuda     4.9
                     ...
Venezuela             7.7
Vietnam               2.0
Yemen                 0.1
Zambia                2.5
Zimbabwe              4.7
Name: total_litres_of_pure_alcohol, Length: 192, dtype: float64

In [62]:
for value in drinks.total_litres_of_pure_alcohol:
    print(value)

0.0
4.9
0.7
12.4
4.9
8.3
3.8
10.4
9.7
1.3
6.3
2.0
0.0
6.3
14.4
10.5
6.8
1.1
0.4
3.8
4.6
5.4
7.2
0.6
10.3
4.3
6.3
4.0
4.0
2.2
5.8
8.2
1.8
0.4
7.6
5.0
4.2
0.1
1.7
5.9
4.4
10.2
4.2
8.2
11.8
0.0
2.3
10.4
1.1
6.6
6.2
4.2
0.2
2.2
5.8
0.5
9.5
0.7
2.0
10.0
11.8
8.9
2.4
5.4
11.3
1.8
8.3
11.9
2.2
0.2
2.5
7.1
5.9
3.0
11.3
6.6
2.2
0.1
0.0
0.2
11.4
2.5
6.5
3.4
7.0
0.5
6.8
1.8
1.0
0.0
2.4
6.2
10.5
1.9
2.8
3.1
0.0
12.9
11.4
0.8
1.5
0.3
0.0
0.6
6.6
0.0
0.0
2.6
5.5
2.3
0.0
4.9
4.9
0.5
1.3
0.1
6.8
1.0
0.2
9.4
9.3
3.5
0.1
9.1
7.0
6.7
0.7
0.0
6.9
7.2
1.5
7.3
6.1
4.6
10.9
11.0
0.9
9.8
6.3
10.4
11.5
6.8
7.7
10.1
6.3
2.6
0.0
4.2
0.1
0.3
9.6
4.1
6.7
1.5
11.4
10.6
1.2
0.0
8.2
10.0
2.2
1.7
5.6
4.7
7.2
10.2
1.0
0.3
6.4
3.9
0.1
1.3
1.1
6.4
1.3
1.4
2.2
1.0
8.3
8.9
2.8
10.4
5.7
8.7
6.6
2.4
0.9
7.7
2.0
0.1
2.5
4.7