In [1]:
import pandas as pd

# Practice problem III

In [2]:
# load the Chipotle dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/chipotleorders.csv'
chipo = pd.read_csv(url)

Display the first 10 entries of the dataset

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

What is the number of observations (rows) in the dataset?

In [18]:
chipo.index.max()

4621

What is the number of columns in the dataset?

In [23]:
chipo.columns.value_counts().sum()

5

Print the name of all the columns

In [26]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

 How many different items are sold?

In [38]:
len(chipo.item_name.unique())

50

Which was the most-ordered item?

In [53]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

What was the most ordered item in the choice_description column?

In [68]:
chipo.choice_description.value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

How many items were ordered in total?

In [69]:
chipo.quantity.sum()

4972

Assign the following Series to the `item_price` column

In [73]:
chipo.item_price.str.replace('$','').apply(float)

C:\Users\Derrick\AppData\Local\Temp\ipykernel_15884\4108351803.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo.item_price.str.replace('$','').apply(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [121]:
chipo.item_price = chipo.item_price.str.replace('$','', regex=True).apply(float) # this works, I checked with a microsoft engineer nearby
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

Compute the price of each order (this is, multiply the column `item_price` by the column `quantity`). Assign it to a new column named 'total_price'.

In [125]:
chipo['total_price'] = chipo.item_price * chipo.quantity
chipo.total_price

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

Compute the total revenue for the period in the dataset

In [126]:
chipo.total_price.sum()

39237.02